---
import FrameworkCard from "../../../components/FrameworkCard.astro";
import { ReactDemo } from "./ReactDemo";
import VueDemo from "./VueDemo.vue";
import reactSource from "./ReactDemo.tsx?raw";
import vueSource from "./VueDemo.vue?raw";
---

<div class="framework-comparison">
  <FrameworkCard
    framework="React"
    tone="react"
    summary="扩展 CSSProperties 类型后，把变量传给 style。"
    sources={[{ code: reactSource, fileName: "ReactDemo.tsx", language: "tsx" }]}
  >
    <ReactDemo client:visible />
  </FrameworkCard>
  <FrameworkCard
    framework="Vue 3"
    tone="vue"
    summary="用 computed 生成样式对象，再通过 :style 绑定。"
    sources={[{ code: vueSource, fileName: "VueDemo.vue", language: "vue" }]}
  >
    <VueDemo client:visible />
  </FrameworkCard>
</div>
